<h1> grupa1 </h1>

<div>
  <a routerLink="/edit-group">
  <button pButton pRipple type="button" label="Edytuj"
          class="p-button-rounded p-button-success">
  </button>
  </a>
</div>

<div class="search-items-container">
  <div class="search-item">
    <a routerLink="/plant">
      <img src="assets/images/strelicja.jpeg">
    </a>
  </div>
  <div class="search-item">
    <a routerLink="/plant">
      <img src="assets/images/kaktus.jpeg">
    </a>
  </div>
  <div class="search-item">
    <a routerLink="/plant">
      <img src="assets/images/fikus.jpeg">
    </a>
  </div>
</div>


