/* You can add global styles to this file, and also import other style files */
.p-inputgroup .p-multiselect {
  width: 100% !important;
}

a {
  text-decoration: none;
}

.p-button.upload-input {
  color: #495057;
  background: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
  flex-direction: row-reverse;

  .p-button-label {
    text-align: left;
  }
}

.p-menubar .p-submenu-list {
  z-index: 100 !important;
}

.p-fluid .p-dropdown {
  width: 100% !important;
}

body {
  margin: 0;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  .background {
    position: absolute;
    background-image: url(./assets/images/background.jpeg);
    background-size: cover;
    background-position: center right;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(2px);
  }

  .background-cover {
    position: absolute;
    z-index: -1;
    background-color: #659B5E;
    height: 100vh;
    width: 100vw;
    opacity: .8;
  }


  .p-menubar {
    background-color: #E2EED7;
    border-radius: 0;
  }

  .app-content {
    padding: 2em
  }

  .input-container {
    background-color: #194d3c;
    padding: 0.25em;
    border-radius: 4px;
  }

  .field-container {
    & > label {
      display: block;
      margin-bottom:.25em
    }
  }
}

