/* You can add global styles to this file, and also import other style files */
.p-inputgroup .p-multiselect {
  width: 100% !important;
}

a {
  text-decoration: none;
}

.p-button.upload-input {
  color: #495057;
  background: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
  flex-direction: row-reverse;

  .p-button-label {
    text-align: left;
  }
}

.p-menubar .p-submenu-list {
  z-index: 100 !important;
}
