<div class="search-panel">
  <div class="field-container">
    <label for="byName">Wyszukaj po nazwie</label>
    <div class="p-inputgroup input-container">
      <input [(ngModel)]="filterValue.name"
             type="text"
             id="byName"
             pInputText>
      <button (click)="search()"
              type="button"
              pButton
              pRipple
              icon="pi pi-search"
              styleClass="p-button-warn"></button>
    </div>
  </div>
  <p></p>
  <div class="field-container">
    <label for="byTags">Wyszukaj po tagach</label>
    <div class="p-inputgroup input-container ui-fluid">
      <p-multiSelect [(ngModel)]="filterValue.tags"
                     [options]="tagOptions"
                     inputId="byTags"
                     optionLabel="name" display="chip"
                     optionValue="id"></p-multiSelect>
      <button (click)="search()"
              type="button"
              pButton
              pRipple
              icon="pi pi-search"
              styleClass="p-button-warn"></button>
    </div>
  </div>
</div>
<p></p>
<p-carousel [value]="plants"
            styleClass="custom-carousel"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="0">
  <ng-template pTemplate="header">
    <h3 class="header">← Najpopularniejsze →</h3>
  </ng-template>
  <ng-template let-product
               pTemplate="item">
    <app-carousel-item [product]="product"></app-carousel-item>
  </ng-template>
</p-carousel>
