<div class="search-panel">
  <div class="field-container">
    <label for="byName">Wyszukaj po nazwie</label>
    <div class="p-inputgroup input-container">
      <input type="text"
             id="byName"
             pInputText>
      <button type="button"
              pButton
              pRipple
              icon="pi pi-search"
              styleClass="p-button-warn"></button>
    </div>
  </div>
  <p></p>
  <div class="field-container">
    <label for="byTags">Wyszukaj po tagach</label>
    <div class="p-inputgroup input-container ui-fluid">
      <p-multiSelect [options]="[]" inputId="byTags"
                     optionLabel="name"></p-multiSelect>
      <button type="button"
              routerLink="/search-result"
              pButton
              pRipple
              icon="pi pi-search"
              styleClass="p-button-warn"></button>
    </div>
  </div>
</div>
<p></p>
<p-carousel [value]="plants"
            styleClass="custom-carousel"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="0">
  <ng-template pTemplate="header">
    <h3 class="header">← Najpopularniejsze →</h3>
  </ng-template>
  <ng-template let-product
               pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <img src="assets/images/{{product.image}}"
             [alt]="product.name"
             style="width: 20vw"
             class="product-item-image"/>
        <div class="product-item-label">{{product.name}}</div>
      </div>
    </div>
  </ng-template>
</p-carousel>
